.w3-row
  p Test one, move elements using “SJR” (Server-Generated Javascript).
  .w3-col.s6
    p Left list (Cleared)
    ul
      - session[:test_list].each do |k,v|
        - if v == 'c'
          li[data-action="click->testOne#unclear" data-id="#{k}"] = "#{k} item is #{v}"
  .w3-col.s6
    p Right list (Uncleared)
    ul
      - session[:test_list].each do |k,v|
        - if v == 'n'
         li[data-action="click->testOne#clear" data-id="#{k}"] = "#{k} item is #{v}"
