h5.strong About iCash
button.link_to.green.w90 = link_to("About iCash",'/about/about') 
button.link_to.green.w90 = link_to("Accounts",'/about/accounts') 
button.link_to.green.w90 = link_to("Entries",'/about/entries')
button.link_to.green.w90 = link_to("Banking",'/about/banking')
button.link_to.green.w90 = link_to("Reports",'/about/reports')

