// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// button, input[type='submit'], input[type='button'] {
//   display: inline-block;
//   border: none;
// }


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background:inherit;
  border: none;
  font-weight: bold;
}
input[type="submit"]{
  background-color: green;
  color:white;
  margin:4px 0 4px 0;
  padding:8px;
  border-radius:4px;

  &:hover{
    background-color: lightgreen;
    color:#333;
  }
}
.cancel-button{
  background-color: yellow;
  color:black;
  margin:4px 0 4px 0;
  padding:8px;
  font-size: 110%;
  border-radius:4px;
  font-weight: bold;
  &:hover{
    background-color: lightgreen;
    color:#333;
  }


}
.link-button {
  background-color: lightgreen;
  padding:2px 8px;
  text-decoration: none;
  border:solid 1px green;
  margin-right: 0 2px;
  // font-variant: small-caps;
  // font-family: times;
  font-weight: bold;
  // font-size: 1.1rem;
  &:hover{
    background-color: green;
    color:#eee;
  }
}
.blue-link{
  color:blue;
  &:hover{
    color:green;
  }
}
.secondary-link{
  color:saddlebrown;
  &:hover{
    color:green;
  }
}


.lime-link-button {
  background-color: lime;
  padding:2px 4px;
  text-decoration: none;
  // border:solid 1px green;
  margin-right: 4px;
  // font-variant: small-caps;
  // font-family: times;
  font-weight: bold;
  // font-size: 1.1rem;
  &:hover{
    background-color: green;
    color:#eee!important;
  }
}

.blue-link-button {
  background-color: #296b94;
  color:white;
  padding:2px 4px;
  text-decoration: none;
  // border:solid 1px green;
  margin-right: 4px;
  // font-variant: small-caps;
  // font-family: times;
  font-weight: bold;
  // font-size: 1.1rem;
  &:hover{
    color:#333;
    background-color: lighten(#296b94,30%);

  }
}



a {text-decoration: none;}

td.actions, div.actions {
  a {padding-right: 14px;}
}
.actions{
  i {padding-right: 8px;}
}
